$extra : 150px;

.page-container {
  position: absolute;
  left: -150px;
  display: flex;
  justify-content: flex-start;
  width: 100vw;
  transition: 500ms;
  transition-timing-function: ease;
  .page {
    // border: 1px solid red;
    padding-left: $extra;
    padding-right: $extra;
    margin-top: 100px;
    
    transform: skew(-20deg);
    width: 100vw;
    height: calc(100vh - 100px);
    flex-shrink: 0;


    .inner-page {
      transform: skew(20deg);
      height: 100%;
      width: 100%;
    }
  }

  @for $i from 1 through 4 {
    .page:nth-child(#{$i}) {
      background-color: lighten(#1b1330, ($i * 10%));
    }
  }
}